.trend-capitals {
  display: flex;
  flex-wrap: wrap;
  margin-right: 2rem;
  padding: 1rem;
  justify-content: center;
}

.capitals {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, 300px);
}

.capital-image {
  width: 250px;
  height: 150px;
  object-fit: cover;
  border: 5px solid #c59d5f;
}
