.flight-details {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    border: 1px solid burlywood;
    padding: 1rem;
    margin: 0.5rem;
}

.airline {
    display: block;   
}

.flight-details p {
    font-weight: bolder;
}

.airline-logo {
    width: 80px;
    border: 2px solid;
}

.status-btn {
    width: 60px;
    background-color: darkgreen;
    justify-self: center;
}

.cancel-btn {
    width: 60px;
    background-color: rgb(89, 8, 8);
    justify-self: center;
}

.cancel {
    color: darkred;
}

